/* Vos styles existants */

.sites {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vh;
    background-image: url(technology.avif);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
        background-position: center;
        padding: 100px 0;
    
}

.site-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.site-card h3 {
    font-size: 24px;
    margin-bottom: 5px;
    color: white;
}

.site-card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
}

.site-card a {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.site-card a:hover {
    background-color: #0056b3;
}

/* Nouvelles règles pour rendre les cartes moins larges et les rapprocher */
.site-card {
    max-width: 800px; /* Ajustez la largeur maximale selon vos préférences */
    margin: 0 auto; /* Pour centrer les cartes horizontalement */
}
